<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

    <title>IndexPage</title>
    <link href="../CSS/Bot-Viajero.css" rel="stylesheet">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script>
        $(function () {

            $("#Origen").selectmenu();

            $("#Destino").selectmenu();

            $("#Prioridad").selectmenu();

            $("#login").button();

            $("#signup").button();
        });
    </script>

</head>

<body background="../Resources/background.jpg">

<div class="lol">
    <h1 id="header">Tribot!</h1>
</div>

<a href="login.html">
    <button class="login" id="login" type="button">Login</button>
</a>
<br>
<a href="signup.html">
    <button class="login" id="signup" type="button">Signup</button>
</a>

<div id="map" align="middle">
    <h1 id="crc">Costa Rica locations map!</h1>
    <img src="../../Documentos/MapaGrafo.png" name="Render map here!" id="graphmap" align="middle">
</div>

<div id="information">

    <form action="http://127.0.0.1:5000/api/get-route" method="get">

        <fieldset>
            <label for="Origen">Select an Origin Node</label>
            <select name="Origen" id="Origen">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
            </select>
        </fieldset>

        <fieldset>
            <label for="Destino">Select a Destination Node</label>
            <select name="Destino" id="Destino">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
            </select>
        </fieldset>

        <fieldset>
            <label for="Prioridadv">Select your priority</label>
            <select name="Prioridad" id="Prioridad">
                <option>E</option>
                <option>R</option>

            </select>
        </fieldset>
        <button type="submit">Submit</button>

    </form>

</div>

<div id="tripinfo">
    <canvas>

    </canvas>
</div>

</body>

</html>