<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Routes</title>
    <!-- "Imports the jQuery, Bootstrap y funciones JS." -->
    <link href="../CSS/Bot-Viajero.css" rel="stylesheet">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="../JS/Format.js" type="application/javascript"></script>
    <script src="../JS/get-routes.js" type="text/javascript"></script>
    <script src="../JS/get-alternatives.js" type="text/javascript"></script>
</head>
<!-- Este es el cuerpo del HTML para la vista de las rutas. -->
<!-- Contiene "divs" para cada elemento que lo requiera, y todos estan englobado en un div general que tiene una clase container-fluid de Bootstap. -->
<body background="../Resources/background.jpg">
<div class="container-fluid">
    <h1 class="rutass" id="header">Seleccione su ruta</h1>
    <div class="col-md-12">
        <a>
            <button class="btn btn-primary btn-block" id="sign-out" type="button" onclick="logout()">Sign Out</button>
        </a>
    </div>
    <h1 id="crc" class="text-center">Mapa de Costa Rica</h1>
    <div class="row">
        <div class="col-md-12">
            <center><img src="../../Documentos/MapaGrafo.png" class="img-responsive map"></center>
        </div>
        <div id="form-div">
            <form>
                <div class="col-md-4 form-group">
                    <fieldset>
                        <div id="origen-field">
                            <h3 for="Origen">Origen</h3>
                        </div>
                        <select name="Origen" id="Origen">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                        </select>
                    </fieldset>
                </div>
                <div class="col-md-4 form-group">
                    <fieldset>
                        <div id="destino-field">
                            <h3 for="Destino">Destino</h3>
                        </div>
                        <select name="Destino" id="Destino">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                        </select>
                    </fieldset>
                </div>
                <div class="col-md-4 form-group">
                    <fieldset>
                        <div id="prioridad-field">
                            <h3 for="Prioridad">Prioridad</h3>
                        </div>
                        <select name="Prioridad" id="Prioridad">
                            <option>E</option>
                            <option>R</option>
                        </select>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div>
            <h2>Detalles del viaje</h2>
        </div>
        <div>
            <div id="detalles-ruta">
            </div>
        </div>
        <div class="col-md-8">
            <button class="btn btn-primary routes" id="get-route" onclick="rutas()">Get Route</button>
        </div>
    </div>
    <div>
        <div>
            <h2>Rutas Alternas</h2>
        </div>
        <div>
            <div id="rutas-alternativas">
            </div>
        </div>
        <div class="col-md-8">
            <button class="btn btn-info" id="get-alternatives" onclick="alternativas()" hidden>Get Alternatives</button>
        </div>
    </div>
</div>
</body>
</html>