.lol {
    color: darkred;
    text-align: center;
}

#header {
    font-family: Castellar;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    color: darkred;
}

label {
    color: darkred;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    background-color: #f44336;
}

.container {
    padding: 16px;
    width: 25%;
    align-content: center;
}

#cancel {
    background-color: darkred;
}

.remember {
    color: darkred;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.psw {
    color: darkred;
}

.login {
    width: 5%;
}

.login:hover {
    width: 10%;
    alignment: right;
}

#map {
    color: #f44336;
}

#information {
    width: 50%;
    margin: 0 auto;
}

#graphmap {
    color: #f44336;
    align-items: center;
    width: 450px;
}